body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  #container {
   max-width: 100%;
   max-height: 100vh; 
    padding: 20px;

  }
  #loadingIndicator{
    margin: auto;
  }
  .user_list_outerConatiner h1{
    text-align: center;
  }
  #userList{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: auto;
  }
  .user-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 40%;
    border-radius: 11px;
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .user-card h1{
    font-size: 1.2rem;
  }
  .user-card h1 span{
    font-weight: 500;
  }

#loadingIndicator{
    margin: auto;
    width: fit-content;
}

  .loader-container {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .loader {
    border: 6px solid #3498db; /* Loader color */
    border-top: 6px solid #fff; /* Background color */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite; /* Animation duration and type */
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .reachTheEndText{
    align-items: center;
    display: none;
  }